{% extends 'base.html' %}
{% block content %}
{% for task in tasks %}

<div class="container">

	<ul class="collapsible">
		<li>
			<div class="collapsible-header">
				<i class="material-icons">expand_more</i> <button class="btn btn-margin">Done</button>
				<a href="{{url_for('edit_task', task_id=task._id)}}" class="btn blue btn-margin">Edit</a><p>{{task.task_name}} - </p> <p>{{task.due_date}}</p>

			</div>
			<div class="collapsible-body">
				<span>{{task.task_description}}</span>
			</div>
		</li>
	</ul>
</div>
{% endfor %}
{% endblock %}